.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75%;
  margin: 1rem auto 1rem auto;
}
span {
  margin-right: 15px;
  margin-left: 15px;
}

#heading {
  padding: 16px;
}

.mat-card-avatar {
  height: 150px;
  width: 150px;
  border-radius: 0%;
}
