<div fxFlex fxLayout="column">
  <div fxFlex fxLayout fxFill fxLayoutAlign="center center">
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </div>
  <h2 style="text-align: center">Orders</h2>
  <mat-accordion
    multi="true"
    style="padding: 16px"
    *ngIf="!(isLoading$ | async)"
  >
    <div style="margin-top: 1rem" *ngFor="let order of orders$ | async">
      <mat-expansion-panel multi>
        <mat-expansion-panel-header>
          <mat-panel-title fxLayoutAlign="flex-start center"
            >Order ID: {{ order.orderId }}
          </mat-panel-title>
          <mat-panel-description fxLayoutAlign="space-between center">
            <p fxLayoutAlign="flex-start">
              Order from : {{ order.hotel.hotelName }}
            </p>
            <p>Amount: {{ order.grandTotal | currency: "INR" }}</p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list *ngFor="let items of order.orderItems">
          <mat-list-item>
            {{ items.item.itemName }} x {{ items.quantity }} =
            {{ items.amount | currency: "INR" }}</mat-list-item
          >
          <mat-divider> </mat-divider>
        </mat-list>
        <div>
          <p>Order Status : {{ order.status }}</p>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>
